<div id="carousel-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" data-pause=false>
  <ol class="carousel-indicators">
    <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-2" data-slide-to="1"></li>
    <li data-target="#carousel-2" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <a href="https://mighty-sands-73432.herokuapp.com/categories/2">
        <img src=
        "https://s3-ap-northeast-1.amazonaws.com/zuborameshiimage/meat.png"
        alt="responsive image" class="d-block img-fluid">
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://mighty-sands-73432.herokuapp.com/categories/5">
        <img src=
        "https://s3-ap-northeast-1.amazonaws.com/zuborameshiimage/fish.png"
        alt="responsive image" class="d-block img-fluid">
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://mighty-sands-73432.herokuapp.com/categories/6">
        <img src=
        "https://s3-ap-northeast-1.amazonaws.com/zuborameshiimage/veg.png"
        alt="responsive image" class="d-block img-fluid">
      </a>
    </div>
  </div>
</div>